<a href="https://colab.research.google.com/github/Andyzxm/GEOG_520_open_source_method/blob/main/a1_xinming_zhang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
x = 30
if x % 3 ==0 : 
    print(str(x) + "  is divisible by 3.")
else:
    print(str(x) + "  is not divisible by 3.")

30  is divisible by 3.

In [ ]:
#2
x = 10
if (x % 3) and (x % 4) == 0:
  print(str(x) + "  is divisible by 3 and 4.")
else:
  print(str(x) + "  is not divisible by 3 and 4 .")

10  is not divisible by 3 and 4 .

In [ ]:
#3
x = "mango"
lst1 = ["apple", "orange", "pear", "kiwi", "strawberry"]
if x in lst1: 
 print(str (x) + " is acceptable .")
else: 
 print(str(x) + "  is not acceptable .")

mango  is not acceptable .

In [ ]:
#4
x = "watermelon"
lst1 = ["orange", "grapefruit", "mandarin", "lime"]
lst2 = ["banana", "mango"]
lst3 = ["strawberry", "raspberry", "blueberry", "kiwi", "passionfruit"]
if x in lst1:
  print(str(x) + " is a citrus fruit .")
elif x in lst2: 
  print(str(x) + " is a tropical fruit")
elif x in lst3:
  print(str(x) + " is a berry fruit")
else:
  print(str(x) + " is not a citrus, tropical or berry")

watermelon is not a citrus, tropical or berry

In [ ]:
#5
x = "WATERMELON"
lst1 = ["orange", "grapefruit", "mandarin", "lime"]
lst2 = ["banana", "mango"]
lst3 = ["strawberry", "raspberry", "blueberry", "kiwi", "passionfruit"]
if str.lower (x) in lst1:
  print(str.lower(x) + " is a cirtus fruit ")
elif str.lower(x) in lst2: 
  print(str.lower(x) + " is a tropical fruit ")
elif str.lower(x) in lst3:
  print(str.lower(x) + " is a berry fruit ")
else:
  print(str.lower(x) + " is not a cirtus, tropical or berry fruit ")

watermelon is not a cirtus, tropical or berry fruit

In [ ]:
#6
x = ["ORANGE", "MANGO", "blueberry" ,"WATERMELON"]
lst1 = ["orange", "grapefruit", "mandarin", "lime"]
lst2 = ["banana", "mango"]
lst3 = ["strawberry", "raspberry", "blueberry", "kiwi", "passionfruit"]
for i in x:
 if str.lower (i) in lst1:
  print(str.lower(i) + " is a cirtus fruit ")
 elif str.lower(i) in lst2: 
  print(str.lower(i) + " is a tropical fruit ")
 elif str.lower(i) in lst3:
  print(str.lower(i) + " is a berry fruit ")
 else:
  print(str.lower(i) + " is not a cirtus, tropical or berry fruit ")

orange is a cirtus fruit
mango is a tropical fruit
blueberry is a berry fruit
watermelon is not a cirtus, tropical or berry fruit

In [ ]:
#7
x = ["orange", "grapefruit", "mandarin", "lime","banana", "mango", "strawberry", "raspberry", "blueberry", "kiwi", "passionfruit"]
x1 = [i.upper() for i in x]
print(x1)

['ORANGE', 'GRAPEFRUIT', 'MANDARIN', 'LIME', 'BANANA', 'MANGO', 'STRAWBERRY', 'RASPBERRY', 'BLUEBERRY', 'KIWI', 'PASSIONFRUIT']

In [ ]:
#8
x = ["orange", "grapefruit", "mandarin", "lime","banana", "mango", "strawberry", "raspberry", "blueberry", "kiwi", "passionfruit"]
berry = ["strawberry", "raspberry", "blueberry", "kiwi", "passionfruit"]
x1 = [i.upper() for i in x if i in berry ]
print(x1)

['STRAWBERRY', 'RASPBERRY', 'BLUEBERRY', 'KIWI', 'PASSIONFRUIT']

In [ ]:
#9
x = ["orange", "grapefruit", "mandarin", "lime","banana", "mango", "strawberry", "raspberry", "blueberry", "kiwi", "passionfruit"]
Even = []
Odd = []

for i, c in enumerate(x,1):
 if i%2 == 0: 
   Even.append(c)
 else:
     Odd.append(c)

print(Even)
print(Odd)

['grapefruit', 'lime', 'mango', 'raspberry', 'kiwi']
['orange', 'mandarin', 'banana', 'strawberry', 'blueberry', 'passionfruit']