<a href="https://colab.research.google.com/github/Andyzxm/GEOG_520_open_source_method/blob/main/A5_Xinming_Zhang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy as np
import pandas as pd

#Task 1 How many of the movies in the original table were released during or after2000 (“year”)

movies_df= pd.read_csv("/content/drive/MyDrive/GEOG520_python_data/datasets/datasets/mdc2.csv")
movies2000s = movies_df.query('year>=2000')
print(len(movies2000s))

73

In [ ]:
#Task 2 How many movies did DC release during or after 2000? How many moviesdid Marvel release during or after 2000?
DC2000s= movies2000s.query('entity == "DC"')
print(len(DC2000s))

Marvel2000s= movies2000s.query('entity == "MARVEL"')
print(len(Marvel2000s))

19
54

In [ ]:
#Task 3 Does DC or Marvel have the highest average rating on IMDB (“imdb_rating”)
movies_df.groupby("entity")["imdb_rating"].mean()

entity
DC        6.133333
MARVEL    6.794737
Name: imdb_rating, dtype: float64

In [ ]:
#Task 4  Was the lowest rated movie on IMDB (“imdb_rating”) a DC or a Marvel
movies_df[movies_df.imdb_rating == movies_df.imdb_rating.min()]

,Unnamed: 0,title,year,genre,runtime,mpa_rating,imdb_rating,imdb_votes,imdb_gross,tomato_meter,tomato_review,tom_aud_score,tom_ratings,entity,id
70,71,Steel,1997,"Action, Adventure, Crime",97,PG-13,2.9,11519,1710000,12,26,15,5000,DC,71

In [ ]:
#Task 5 Was the highest rated movie on IMDB (“imdb_rating”) a DC or a Marvel
movies_df[movies_df.imdb_rating == movies_df.imdb_rating.max()]

,Unnamed: 0,title,year,genre,runtime,mpa_rating,imdb_rating,imdb_votes,imdb_gross,tomato_meter,tomato_review,tom_aud_score,tom_ratings,entity,id
75,76,The Dark Knight,2008,"Action, Crime, Drama",152,PG-13,9.0,2369304,534860000,94,344,94,250000,DC,76

In [ ]:
#Task 6 . Does DC or Marvel have the highest average critic’s rating on RottenTomatoes (“tomato_meter”)
movies_df.groupby("entity")["tomato_meter"].mean()

entity
DC        52.454545
MARVEL    64.210526
Name: tomato_meter, dtype: float64

In [ ]:
#Task 7 Does DC or Marvel have the highest average audience rating on Rotten Tomatoes (“tom_aud_score”)
movies_df.groupby("entity")["tom_aud_score"].mean()

entity
DC        60.484848
MARVEL    70.350877
Name: tom_aud_score, dtype: float64

In [ ]:
#Task 8 . Which movie had the largest difference between the critic’s score
#(“tomato_meter”) and audience score (“tom_aud_score”) on Rotten Tomatoes in which the audience score was higher than the critic’s score? 
movies_df["rad_diff"] = movies_df["tom_aud_score"] - movies_df["tomato_meter"]
movies_df[movies_df.rad_diff == movies_df.rad_diff.max()]

,Unnamed: 0,title,year,genre,runtime,mpa_rating,imdb_rating,imdb_votes,imdb_gross,tomato_meter,tomato_review,tom_aud_score,tom_ratings,entity,id,largest difference,rad_diff
57,58,Superman and the Mole-Men,1951,"Action, Adventure, Drama",58,Passed,5.7,1828,0,0,2,83,250,DC,58,-83,83

In [ ]:
#Task 9 Which movie had the largest difference between the critic’s score(“tomato_meter”) and audience score (“tom_aud_score”) on Rotten Tomatoes in which
#the audience score was lower than the critic’s score?
movies_df["rad_diff"] = movies_df["tomato_meter"] - movies_df["tom_aud_score"]
movies_df[movies_df.rad_diff == movies_df.rad_diff.max()]

,Unnamed: 0,title,year,genre,runtime,mpa_rating,imdb_rating,imdb_votes,imdb_gross,tomato_meter,tomato_review,tom_aud_score,tom_ratings,entity,id,largest difference,rad_diff
52,53,Captain Marvel,2019,"Action, Adventure, Sci-Fi",123,PG-13,6.8,473437,426830000,79,537,45,100000,MARVEL,53,34,34

In [ ]:
#Task 10 From the movies included in the database and those released during or after 2000, did DC or Marvel have the highest total gross earnings (“imdb_gross”)
movies2000s.groupby("entity")["imdb_gross"].sum()

entity
DC         4270260000
MARVEL    13717570000
Name: imdb_gross, dtype: int64

In [ ]:
#Task 11  From the movies included in the database and those released during or after 2000, did DC or Marvel have the highest earning movie and what was the movie 
movies2000s[movies2000s.imdb_gross == movies2000s.imdb_gross.max()]

,Unnamed: 0,title,year,genre,runtime,mpa_rating,imdb_rating,imdb_votes,imdb_gross,tomato_meter,tomato_review,tom_aud_score,tom_ratings,entity,id
53,54,Avengers: Endgame,2019,"Action, Adventure, Drama",181,PG-13,8.4,890937,858370000,94,541,90,50000,MARVEL,54

In [ ]:
#Task 12  Does DC or Marvel movies have a longer average runtime
movies_df.groupby("entity")["runtime"].mean()

entity
DC        123.454545
MARVEL    124.543860
Name: runtime, dtype: float64

In [ ]:
#Task 13 . Does DC or Marvel have the larger total runtime for all movies released during or after 2000
movies2000s.groupby("entity")["runtime"].sum()

entity
DC        2528
MARVEL    6625
Name: runtime, dtype: int64

In [ ]:
#Task 14 Calculate the gross earnings per runtime for DC and Marvel (total gross earnings (“imdb_gross”) divided by total runtime (“runtime”)). 
#Does DC or Marvel have the highest gross earnings per unit runtime?
movies_df.groupby("entity")["imdb_gross"].sum()/movies_df.groupby("entity")["runtime"].sum()

entity
DC        1.303186e+06
MARVEL    1.944494e+06
dtype: float64

In [ ]:
#Task 15 Does Marvel of DC have a higher percentage of movies with a PG-13 rating vs. all other ratings
movDC= movies_df.query('entity == "DC"')
movM = movies_df.query('entity == "MARVEL"')
print(len(movDC.query('mpa_rating == "PG-13"')) / len(movDC))
print(len(movM.query('mpa_rating == "PG-13"'))/len(movM))

0.6363636363636364
0.8070175438596491